Flask
Flask-Mail
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
Flask
Flask-Cors
Flask-Mail
Flask-WTF
python-dotenv
pymongo
werkzeug
itsdangerous
pandas
numpy
scipy
statsmodels
matplotlib
scikit-learn
gridfs
wtforms
authlib
requests
python-docx
passlib
MarkupSafe

